@media only screen and (min-width: 600px) {
    .name {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    form {
        width: min(80%, 600px);
    }
    .name label {
        grid-row: 1 / 2;
    }
    .name input {
        grid-row: 2 / 3;
    }
    
}