@media only screen and (min-width: 800px) {
    #hamburger-btn {
        display: none;
    }
    #light-dark-mode-toggle {
        
    }
    nav {
        display: block;
        margin-left: auto;
        margin-right: 1rem;
        grid-column: unset;
        width: fit-content;
    }
    nav ul{
        display: flex;
        gap: 1rem;
    }
}