@media only screen and (min-width: 800px) {
    .large-only {
        display: initial;
    }
    .small-only {
        display: none;
    }

    header .top-row {
        justify-content: center;
    }
    #header-nav {
        transform: translateX(0);
        transition: none;
        position: initial;
        padding: 0;
    }
    header nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #222;
        margin: 0;
        padding-block: 1rem;
    }
    header nav a {
        color: #ddd;
    }

    main {
        grid-template-columns: 60% 40%;
        padding-top: 10rem;
    }

    .certificate {
        grid-column: 1 / 3;
    }
    #course-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}